@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand Regular'), local('Quicksand-Regular'), url(http://fonts.gstatic.com/s/quicksand/v5/sKd0EMYPAh5PYCRKSryvW1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    background-color: #F9F9F9;
    font-family: 'Quicksand', sans-serif;
    color: #292929;
    margin: 0;
    height:100%;
}
#wrapper {
    min-height: 100%;
    position: relative;
}

header {
    color: #FFFFFF;
    background-color: #5F9EA0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
}

header menu ul {
    margin: 0;
    padding: 0;
    float: right;
}

header menu li {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
}

header menu li img{
    margin-left: 20px;
    border: 3px solid transparent;
    border-radius: 64px;

}
header menu li a img:hover {
    border: 3px solid white;
    border-radius: 64px;
}

section#body{
    padding-bottom: 100px;
}

footer {
    /*font-style: oblique;*/
    color: #FFFFFF;
    background-color: #5F9EA0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 4.0em;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.container {
    margin: 0 auto;
    width: 1000px;
}

.main_column {
    display: inline-block;
    width: 700px;
}

.secondary_column {
    display: inline-block;
    width: 300px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

h1 {
    font-size: 3.5em;
}

header h1 {
    color: #FFFFFF;
}

header h1 img{
    margin-right: 18px;
}

h2 {
    margin-top: 2em;
    font-size: 1.5em;
    color: #5F9EA0;
}

h3 {
    font-size: 1.1em;
    color: #5F9EA0;
}

a {
    color: #5F9EA0;
    text-decoration: none;
}
footer a{
    color: #FFFFFF;
}

header a{
    color: #FFFFFF;
}

a:hover {
    text-decoration: underline;
}
header h1 a:hover{
    text-decoration: none;
}

ul.navigation_menu {
    margin-top: 2.5em;
    margin-left: 2.8em;
    list-style: none;
    padding: 0;
    border: solid 1px #DAE6E6;
}

ul.navigation_menu li {
    color: #5F9EA0;
    padding: 0.5em 1em 0.5em 1em;
    border: solid 1px #DAE6E6;
    display: block;
}

.center {
    text-align: center;
}

.small {
    font-size: 0.9em;
}